@import url(../css/common.css);

section.win {
    width: 100%;
}

section.container {
    width: 50%;
    margin: 0 auto;
    border-bottom: 4px solid #ccc;
}

section.container .first {
    margin: 20px 0;
    padding: 20px 0;
    background: #516eee;
    display: flex;
    justify-content: center;
    align-items: center;

}
section.container .first .title {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    width: 20%;
    /* border: 1px solid #000; */
    

}
section.container .first .search {
    /* border: 1px solid #000; */
    background: #fff;
    width: 50%;
    height: 50px;
    margin: 20px;
    display: flex;
    
    
} 
section.container .first .search input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
}
section.container .first .search .img {
    width: 10%;
    height: 100%;
    padding-left: 5px;
    position: relative;
   

}
section.container .first .search .img img{
    width: 80%;
    position: absolute;
    top: 7px;
   
}

section.container .first .search .img:hover {
   background: #052ace;

}

section.container .first .chat {
    font-size: 0.6em;
    
    display: block;
    width: 20%;
    padding: 10px 0;
    margin: 0 30px 0 40px;
    background: #052ace;
    
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.container .first .chat div {
    width: 30%;
    /* border: 1px solid #000; */

}
section.container .first .chat div img {
    width: 80%;
    /* border: 1px solid #000; */
}

section.container .first .chat span {
    width: 40%;
    display: block;
    /* border: 1px solid #000; */
}

/*  section.container .second 두번째 줄 메뉴 */

section.container .second {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 10px;
    padding-bottom: 10px;

}

section.container .second .menu {
    display: flex;
}

section.container .second .menu a {
    margin-bottom: 10px;
    padding: 10px;
    /* display: block; */
    
}
section.container .second  a:hover {
    color:#516eee;
}

section.container .second .id {
    margin-left: 100px;
    font-size: 0.8em;
    padding-right: 30px;
    display: flex; 
    border-right: 1px solid #ccc;

}
section.container .second .id a {
    margin: 10px;
}


section.container .second .cus {
    margin-left: 20px;
    color: #516eee;
    font-weight: 400;
    font-size: 0.8em;
    padding-left: 10px;
    
}
section.container .second .cus span {
    font-size: 1.5em;
    font-weight: 700;
}

/* section.container .list  */

section.container .list {
    margin: 20px 0;
    background: #f3eded;
    font-weight: 700;
    font-size: 0.7em;
    
}

section.container .list ul {
    display: flex; 
    
}

section.container .list li {
    text-align: center;
    width: 10%;
    padding: 15px 0;
    border: 0.5px solid #e0dada;
    color: #444343;
}

/* container .cs .cs-list */
.cs {
    width: 100%;
    margin: 0 auto;
}
.cs .cs-list {
    width: 100%;
    cursor: pointer;
    list-style: none;
}

.cs .cs-list li {
    padding: 30px 0;
    border-top: 1px solid #e0dada;
    position: relative;
}
.cs .cs-list li .Q {
    color: #052ace;
    font-size: 1em;
    margin-left: 10px;
}
.cs .cs-list li span {
    margin-left: 30px;
    font-size: 0.8em;
    margin-left: 50px;

}
.cs .cs-list li .img {
    position: absolute;
    left: 800px;
}
.cs .cs-list li .more {
    color: #052ace;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}



/* aside.side-bar  */
aside.side-bar {
    position: absolute;
    top: 50px;
    right: 300px;

}

aside.side-bar .ban {
    width: 102px;
    height: 150px;
    
    margin-bottom: 10px;
    border-radius: 30px;
}
aside.side-bar .ban img {
    width: 100%;
}
aside.side-bar .sidebar-fix {
     position: fixed;
}

aside.side-bar .last  {
    margin-top: 20px;
   border: 1px solid #7c6c6c;
   color: #fff;
   background: #000;
   width: fit-content;
   font-size: 0.7em;
  

   
}
aside.side-bar .last .s1 {
    border-bottom: 1px solid #7c6c6c;
    padding: 10px;
}
aside.side-bar .last .s2 {
    border-bottom: 1px solid #7c6c6c;
    padding: 10px;
}
aside.side-bar .last span {
    color: #516eee;
    font-weight: 700;
}
aside.side-bar .last .s3 {
    height: 150px;
    background-color: #fff;
    color: #ccc;
    text-align: center;
}
aside.side-bar .top {
    margin-top: 20px;
    width: 70px;
    border: 1px solid #ccc;
    color: #7c6c6c;
    text-align: center;
    background: rgba(#e0dada, 0.5);
}
aside.side-bar .top a {
    display: block;
    width: 100%;
    font-size: 0.7em;
}