@import url('../css/common.css');

body {
    background: #fff;
    font-size: 14px;
}

#wrapper {
    width: 65%;
    margin: 0 auto;
    position: relative; 
}

/* 헤더 시작 */

header{
    width: 100%;
    height: 179px;
    /* border: 1px solid #000; */
    /* overflow: hidden; */
    /* background: gray; */
    border-bottom: 1px solid #ccc;
}

header .article{
    width: 100%;
    height: 32px;
    background-color: #e7e5e5;
}
header .article .article-container{
    width: 1020px;
    height: 32px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

header .article .article-container #article-subscribe{
    display: flex;
    margin-left: 15px;
    position: relative;
}
header .article .article-container #article-subscribe>li{
    margin-right: 15px;
    /* border: 1px solid #000; */
    position: relative;
    /* border: 1px solid #000; */
    height: 34px;
    display: flex;
    align-items: center;

}
.enter{
    width: max-content;
    padding: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 20px #000;
    position: absolute;
    line-height: 1.5;
    display: none;
    top: 100%;
    margin-bottom: 10px;
    z-index: 9999;
}

.enter a:hover{
    color: blue;
    text-decoration: underline;
}

header .article .article-container #article-subscribe li:nth-child(2):hover .enter,
header .article .article-container #article-subscribe li .enter:hover{
    display: block;

}

header .article .article-container #article-menu{
    display: flex;
}
header .article .article-container #article-menu li{
    margin-right: 15px;
    /* border: 1px solid #000; */
    position: relative;
    /* border: 1px solid #000; */
    height: 34px;
    display: flex;
    align-items: center;
}

header .article .article-container #article-menu li:last-child:hover .enter{
    display: block;
}

header .header{
    width: 1020px;
    height: 147px;
    margin: 0 auto;
    /* overflow: hidden; */
}
header .header .header-container{
    /* overflow: hidden; */
    height: 145px;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .header .header-container .header-category{
    width: 115px;
    height: 145px;
    position: relative;
    background: rgb(83, 81, 197);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .header .header-container .header-category i{
    display: block;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    /* background-color: #a09b9b; */
}

header .header .header-container .header-category:hover .enter{
    display: block;
    /* border: 1px solid #000; */
    color: black;
}


header .header .header-container .search-container{
    width: 880px;
    height: 115px;
    /* border: 1px solid #000; */
    position: absolute;
    bottom: 0;
    right: 0;
}

header .header .header-container .search-container .header-search{
    height: 70px;
    /* border: 1px solid #000; */
    display: flex;
}
header .header .header-container .search-container .header-search img{
    flex: 2;
}
header .header .header-container .search-container .header-search .header-search-go{
    flex: 5;
    border: 3px solid blue;
    height: 37px;
    display: flex;
    align-items: center;
    position: relative;
    top: 20px;
}
header .header .header-container .search-container .header-search .header-search-go .search{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    /* background-color: aqua; */
}

header .header .header-container .search-container .header-search .header-search-go .search .search-first{
    flex: 3;
    display: flex;
    /* background-color: aqua; */
}

header .header .header-container .search-container .header-search .header-search-go .search .search-first:hover .enter{
    display: block;
}

header .header .header-container .search-container .header-search .header-search-go .search .search-first a:last-child{
    display: flex;
    justify-content: flex-end;
    text-align: left;
}



header .header .header-container .search-container .header-search .header-search-go .search input{
    flex: 5;
    border: none;
    border-left: 2px solid gray;
    height: 27px;
}
header .header .header-container .search-container .header-search .header-search-go .search a{
    flex: 1;
}




header .header .header-container .search-container .header-search a{
    flex: 1;
}
header .header .header-container .search-container .header-search .search{
    /* display: block; */
    display: flex;
    justify-content: space-between;
    
}



header .header .header-container .search-container .header-search .header-search input{
    border: none;
    width: 500px;
    height: 30px;
    border-left: 1px solid gray;
    position: relative;
    top: 3px;
}
header .header .header-container .search-container .header-search>a{
    position: relative;
    top: 10px;
    left: 20px;
    line-height: 1.5;
}
header .header .header-container .search-container .header-search>a i{
    display: block;
    text-align: center;
    font-size: 1.5em;
    right: 10px;
    position: relative;
}

header .header .header-container .search-container .header-search .my-coupang:hover .enter{
    display: block;
}

header .header .header-container .search-container .header-nav{
    height: 45px;
    /* border: 1px solid #000; */
    /* background-color: aqua; */
}

header .header .header-container .search-container .header-nav .header-gnb {
    line-height: 45px;
    font-size: 0.7em;
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
    
} 
header .header .header-container .search-container .header-nav .header-gnb li:hover a{
    
    color: blue;
    text-decoration: underline;
}
/* 헤더 끝 */




/* 사이드메뉴 */

.side-menu {
    /* border: 4px solid blue; */
    border: 0.5px solid #ddd;
    padding: 10px;
    font-size: 0.85em;
    width: 15%;
    float: left;
}

.side-menu .search {
   border-bottom: 0.5px solid #ddd;
   padding: 10px;
   line-height: 2.2;
}

.side-menu .search span {
    font-weight: 700;
    font-size: 1.3em;
}
.side-menu .search span.rocket {
    color: rgb(7, 141, 194);
    font-style: italic;
    font-size: 1.2em;
}
.side-menu .search ul.rocket-detail {
    margin-left: 10px;
    padding: 5px;
}
.side-menu .search span.rocket-wow {
    color: rgb(10, 90, 211);
    font-style: italic;
    font-size: 1.1em;
}
.side-menu .search span.rocket-abroad {
    color: rgb(154, 10, 211);
    font-style: italic;
    font-size: 1.1em;
}
.side-menu .search span.regular-delivery {
    color: rgb(250, 185, 8);
    font-size: 1.1em;
}
.side-menu .search span.avenue {
    color: rgb(16, 7, 134);
    font-size: 1.1em;
}

.side-menu .search .search-option {
    /* border: 1px solid #000; */
    margin-top: 3px;
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}
.side-menu .search .search-option::after {
    /* border: 1px solid #000; */
    content: 'ᨆ';
    margin-right: 5px;
}
.side-menu .search .search-option:hover
, .side-menu .search ul li:hover
, .side-menu .search .search-more:hover
, .side-menu .search .search-opt:hover
{
    color: rgb(7, 141, 194);
}

.side-menu .search ul.check {
    /* border: 1px solid #000; */
    margin-top: 5px;
}
.side-menu .search ul.check li {
    /* border: 1px solid #000; */
    padding-left: 10px;
    display: flex;
}
.side-menu .search .search-more {
    /* border: 1px solid #000; */
    margin-left: -6px;
}
.side-menu .search .search-blue {
    color: rgb(21, 105, 216);
    font-weight: 700;
    margin-left: 5px;
}
.side-menu .search .search-opt span {
    color: orange;
    font-weight: 700;
    font-size: 1.4em;
    margin-left: 8px;
}
.side-menu .search .box {
   display: flex; 
   justify-content: space-between;
   align-items: center;
}
.side-menu .search .box .text {
    width: 40px;
    height: 25px;
}
.side-menu .search .box span {
    font-weight: 400;
}






/* 컨텐츠 */
.contents {
    /* border: 4px solid green; */
    float: right;
    width: 85%;
    padding: 10px;
    /* padding: 30px; */
}

.contents .banner-container {
   
}
.contents .banner-container .banner-img {
    border: 0.5px solid #aaa;
    width: 75%;
    height: 324px;
    float: left;
    overflow: hidden;
}
.contents .banner-container .banner-img img {
    width: 100%;
}
.contents .banner-container .banner-box .banner-menu {
    width: 25%;
    border: 0.5px solid #aaa;
    float: right;
    overflow: hidden; 
}
.contents .banner-container .banner-box .box {
    border: 0.5px solid #aaa;
}

.contents .banner-container .banner-box .banner-menu-last {
    text-align: center;
    line-height: 18px;
}
.contents .banner-container .banner-menu:hover {
    border: 2px solid rgb(4, 149, 206);
}



/* 작은 배너 */

.contents .banner {
    /* border: 1px solid #000; */
    height: 175px;
    width: 100%;
}

.contents .banner1 {
    margin-top: 20px;
    background: url('../img/sm/banner1.jpg') no-repeat center/cover; 
}

.container .banner2 {
    background: url('../img/sm/banner2.png') no-repeat center/cover;
}


/* CATEGORY */

.contents .category-title {
    /* border: 2px solid blue; */
    position: relative;
    height: 30px;
    margin: 20px 0 30px;
}

.contents .categoty-title-line {
    border-bottom: 1px solid #aaa;
    height: 30px;
}

.contents .categoty-title-line span {
    font-family: "맑은 고딕", "malgun gothic", "나눔고딕", "nanumgothic", "돋움", "dotum", sans-serif;   
    font-size: 2em;
    color: #747373;
    background: #fff;
    padding: 15px 60px;
    position: absolute;
    left: 42.5%;
}

.contents .category-items .item {
    /* border: 1px solid #000; */
    float: left;
    width: 200px;
    margin: 1px;
}

.contents .category-items .item .item-img {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: #f6f6f6;
    position: relative;
}
.contents .category-items .item .item-img img {
    width: 65%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contents .category-items .item .item-name{
    /* border: 1px solid #000; */
    margin: 20px 0 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* end of CATEGORY */

.contents .rocket {
    font-weight: 700;
    font-size: 1.3em;
}

.contents .rocket {
    /* border: 1px solid #000; */
    padding: 20px 5px;
}

.contents .rocket-bar {
    background: #f6f6f6;
    padding: 10px;
}

.contents .rocket-bar .rocket-nav {
    /* background: pink; */
    float: left;
    margin-left: 20px;
}
.contents .rocket-bar li {
    display: block;
    float: left;
    padding: 5px;
    font-size: 0.9em;
}

.contents .rocket-bar .dropdown{
    position : relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.contents .rocket-bar .dropdown-content {
    display : none;
    position : absolute;
    z-index : 1; /*다른 요소들보다 앞에 배치*/
}
.contents .rocket-bar .dropdown-content a {
    /* display : block; */
}
.contents .rocket-bar .dropdown:hover .dropdown-content {
    display: block;
    top: 40px;
}


/* 로켓배송 판매리스트 */

.contents .sale-list .sale-ul .sale-li a:hover .name {
    text-decoration: underline;
    color: rgb(14, 156, 212);
}

.contents .sale-list .sale-ul .sale-li:hover {
    box-shadow: 2px 2px 10px #ccc9c9;
}
.contents .sale-list .sale-ul .sale-li {
    /* border: 1px solid red; */
    width: 232px;
    height: 440px;
    float: left;
    margin: 10px;
    padding-left: 5px;
    position: relative;
}
.contents .sale-list .sale-ul .sale-li .image {
    /* border: 1px solid blue; */
    width: 230px;
    height: 270px;
    position: relative;
}


.contents .sale-list .sale-ul .sale-li .image img {
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.contents .sale-list .sale-ul .sale-li .descriptions .name {
    font-size: 0.9em;
    text-align: center;
    margin-bottom: 10px;
}

.contents .sale-list .sale-ul .sale-li .descriptions .discount span {
    text-decoration: line-through;
    color: #747373;
    font-size: 0.9em;
    padding: 5px;
}
.contents .sale-list .sale-ul .sale-li .descriptions .price {
    /* border: 1px solid #000; */
    width: fit-content;
    font-weight: 700;
    font-size: 1.5em;
    color: rgb(209, 14, 14);
}
.contents .sale-list .sale-ul .sale-li .descriptions .badge {
    width: 80px;
    height: 50px;
    position: absolute;
    right: 20px;
    bottom: 80px;

}
.contents .sale-list .sale-ul .sale-li .descriptions .badge img {
    /* border: 1px solid #000; */
    width: 100%;
}
.contents .sale-list .sale-ul .sale-li .descriptions .unit-price {
    color: rgb(209, 14, 14);
}
.contents .sale-list .sale-ul .sale-li .descriptions .delivery{
    color: rgb(7, 136, 7);
    margin: 10px 0;
}
.contents .sale-list .sale-ul .sale-li .descriptions .star {
    color: gray;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.contents .sale-list .sale-ul .sale-li .descriptions .star span{
    margin: 10px 0;
    color: orange;
    font-weight: 700;
    font-size: 1.6em;
}
.contents .sale-list .sale-ul .sale-li .descriptions .point{
    border: 1px solid #aaa;
    width: fit-content;
    border-radius: 20px;
    padding: 3px 12px;
    font-size: 0.8em;
}

/* 로켓배송 판매리스트 끝 */


.page {
    background: #f6f6f6d0;

    padding: 10px;
    left: -10px;
    width: 100%;
    bottom: 20px;

    position: fixed;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.page a {
    /* border: 1px solid #000; */
    padding: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
    color: #666;
}

footer > * {
    text-align: center;
    margin: 0 auto; 
    
}
/* footer > .footer1 */
footer .footer1 {
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    font-size: 0.7em;

}
footer .footer1 a {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #a09b9b;
}
footer .footer1 a:first-child {
    border: none;
}
footer .footer1 .list8, 
footer .footer1 .list10 {
    font-weight: 700;
}

footer .footer1 div .globalsite {
    display: inline-block;
    width: 14px;
    height: 14px;
}

/* footer > .footer2 */

footer > .footer2 {
    width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    padding: 20px 0; 
    display: flex;
}
footer .footer2 div {
    
    font-size: 0.6em; 
    text-align: left;
    line-height: 1.6;
    margin-right: 10px;
}   
footer .footer2 #box1 {
    width: 15%;
    height: 35px;
    background-repeat: no-repeat;
}
footer .footer2 #box2 {
    width: 20%; 
}
footer .footer2 #box3 {
    width: 30%;
}
footer .footer2 #box3 a {
    display: block;
    font-size: 0.9em;
    padding: 0 5px;
}
footer .footer2 #box3 #a1 {
    font-weight: 700;
    display: inline;
    border-right: 1px solid #333232;
}
footer .footer2 #box3 #a2 {
    display: inline;
}
footer .footer2 #box3 #a3 {
    font-size: 2em;
    font-weight: 700;
}
footer .footer2 #box2 p a,  
footer .footer2 #box4 p a {
    text-decoration: underline;
}

footer .footer2 #box4 {
    width: 25%;
}
footer .footer2 #box4 span {
    font-size: 1.2em;
    font-weight: 700;
}

/* footer > .footer3 */
footer  .footer3 { 
    width: 60%;
    height: 80px;
    margin: 0 auto;

    /* border: 1px solid #000; */
}
.footer3 .list_img {
    width: 100%;
    height: 100%;
    background-image: url('../img/footer3.png');
    background-size: ;
    background-repeat: no-repeat;
    margin: 0 50px;
    /* border: 1px solid #000; */

}



/* footer > .footer4 */

footer .footer4 {    
    background-color: #333232;
    padding: 20px 0;
}
footer .footer4 .footer4-1 {
    width: 60%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;  
}
footer .footer4 p {
    width: 80%;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: left;
}
footer .footer4 .link ul {
    display: flex;
    justify-content: flex-end; 
}

footer .footer4 ul li a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;  
}
footer .footer4 ul li #face {
    background-image: url('../img/facebook.png');
}
footer .footer4 ul li #blog {
    background-image: url('../img/naver.png');
}
footer .footer4 ul li #insta {
    background-image: url('../img/insta.png');
}


footer .footer4 p {
    text-align: left;
    color: #a09b9b;
}


