@import url('../css/common.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');
body{
    margin:0 auto;
}
.container {
    width: 80%;
    margin: 0 auto;
    font-family: 'apple sd gothic neo', 'malgun gothic', nanumbarungothic, nanumgothic, dotum, sans-serif !important;
}
/* header 최상단 */

header .topbar {
    background-color: #cecccc;
    font-size: 0.6em;

}

header .topbar .left ul {
    
}
header .topbar .left ul li {
    float: left;
    padding: 8px;
}

header .topbar .right > ul {
    float: right;
    padding: 8px;
    margin-right: 50px;
}
header .topbar .right ul li {
    display: flex;
}
header .topbar .left .dropmenu1 {
    width: 120px;
    padding: 10px;
    background: #f3f6f7; 
    visibility: hidden;  
    position: absolute;
    top: 20px;
    left: 60px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
header .topbar .left .dropbox:hover .dropmenu1 {
    visibility: visible;
}

header .topbar .left .dropmenu1 li:hover {
    color: blue;
    text-decoration: underline;

}


header .topbar .right .cus {
    position: relative;
}

header .topbar .right .drop {
    width: 120px;
    padding: 10px;
    background: #f3f6f7; 
    visibility: hidden;  
    position: absolute;
    top: 20px;
    right: 10px;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
        
    
}

header .topbar .right .cus:hover ul {
    visibility: visible;
    
   
}
header .topbar .right .cus li:hover {
    color: blue;
    text-decoration: underline;
}


/* header .container  */
header .container {
    border-bottom: 1px solid #000;
}

header .container .table {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #000;;
    
}
header .container .table .cat {
    border: 1px solid #000;
    background: #4052f7;
    color: #fff;
    padding: 25px;
    text-align: center;
    font-size: 0.7em;

}

header .container .bar1 {
    
}
header .container .bar2 {
    width: 170px;
    height: 41px;
    
}
header .container .bar2 img {
    width: 100%;

}
header .container .bar3 {
    border: 1px solid #000;
    width: 488px;
    height: 41px;
}
header .container .bar3 input {
    width: 300px;
    height: 38px;
}


header .container .table div.img {
    width: 50px;
    height: 54px;
    


}
header .container .table div.img a {
    width: 100%;
    font-size: 0.6em;

}

/* container nav tag */

header .container .menu ul {
    display: flex;
    margin-left: 40px;
    padding: 10px;
    font-size: 0.7em;
}
header .container .menu ul li {
    margin-right: 20px;
}
header .container .menu ul li:hover {
    color: blue;
    text-decoration: underline;
}



/* .travel 시작 */
.travel {
    width: 85%;
    margin: 0 auto;
    background: #03c2a5;
    height: 12%;
    position: fixed;
    z-index: 9999;
    width: 100%;
    color:white;
}
.travel .travel-container{
   
}

.travel .h-list {
    padding: 15px 10px;
    padding-left: 26%;
    font-size: 0.7em;
    color:white;
   
}

.travel .h-list li {
    float: left;
}

.travel .h-list li::after {
    content: "|";
    color: #fff;
    opacity: 0.4;
    padding: 0 12px;
}

.travel .search {
    padding: 2px 20px;
}

.travel .search h1 {
    width: 25%;
    font-weight: 700;
    font-size: 1.5em;
    font-family: 'apple sd gothic neo', 'malgun gothic', sans-serif !important;
    float: left;
    padding-left: 10%;
    padding-top: 5px;
}

.travel .search .input {
    width: 75%;
    float: left;
}

.travel .search input {
    padding: 10px;
}
.travel .search .input a{
    background-color: #fff;
    float: right;
    width: 40px;
    height: 40px;
    margin-right: 440px;
    position: relative;
}
.travel .search .input a i{
    float: right;
    position: absolute;
    left: 3px;
    top: 2px;
    z-index: 1;
    width: 50px;
    height: 50px;
    color: rgba(0, 0, 255, 0.315);
    font-size: 1.5em;
}
/* section 시작 */
body{
    position: relative;
}
section {
    width: 100%;
    height: 600px;
    background: url('../img/영수/롯데호텔.png')  no-repeat;
    background-size: contain; 
    position: relative;
    top: 103px;
    margin-bottom: 35px;
}

section nav {
    position: relative;
    top: 60%;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color:white;

}

section nav .main {
    padding: 20px;
    position: absolute;
}

section nav .main .main-list {
    border-top: 1px solid gray;
    float: left;
    padding: 10px;
    position: relative;
    left: 18%;
    margin-right: 20px;
}

section nav .main .main-list:hover {
    border-top: 4px solid lightgray;
}

section nav .main .main-list li {
    margin: 10px 0px 0px;
}

section nav .main .main-list span {
    display: block;
}
/* nav 국내여행 시작 */
nav {
    height: 30%;
    color:rgba(0, 0, 0, 0.74);
}

nav .category h3 {
    height: 15%;
    font-weight: 700;
    font-size: 1.4em;
    padding: 27px 0;
    position: relative;
    top: 10px;
}

nav .category ul {
    /* height: 100px; */
    width: 80%;
    overflow: hidden;
}

nav .category ul li {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
    width: 18%;
    height: 200px;
    text-align: center;
    border: 1px solid rgba(211, 211, 211, 0.24);
    overflow: hidden;
}

nav .category ul li:hover a img{
    transform: scale(1.2);
    transition-duration: 0.5s
}
nav .category ul li a img {
    width: 100%;
    height: 80%;
}
nav .category ul li a span {
    height: 20%;
}
nav .category ul li a span:hover {
    height: 20%;
    text-decoration: underline;
}
nav .category ul li a .category-name {
    position: relative;
    top: 7%;
}
/* nav 해외여행 */

nav ..travel h3{
    height: 15%;
    font-weight: 700;
    font-size: 1.4em;
    padding: 25px 0;
    position: relative;
    top: 10px;
    color: rgba(0, 0, 0, 0.812);
}
nav ..travel ul li{
    float: left;
    width: 50%;
    margin-bottom: 25px;
}
nav ..travel ul li:hover h4{
 text-decoration: underline;
}
nav ..travel ul li:nth-child(2n+1){
    clear: both;
}
nav ..travel ul li img{
    height: 70%;
    padding-bottom: 20px;
}
nav ..travel ul li h4{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.668);
    margin-bottom: 8px;
    font-weight: 700;
}
nav ..travel ul li p{
    color: rgba(0, 0, 0, 0.634);
    font-size: 0.8em;
}
/* 고객 여행상품 시작 */
nav .item{
    width: 100%;
    height: 400px;
}
nav .item h3{
    font-weight: 700;
    font-size: 1.4em;
    padding: 25px 0;
    color: rgba(0, 0, 0, 0.812);
    
}

nav .item ul li a{
    float: left;
    width: 20%;
    margin-bottom: 30px;
}

nav .item ul li a img{
    width: 240px;
    height: 240px;
    display: block;
    margin-bottom: 20px;
    
}
nav .item ul li a span{
    font-size: 12px;
    color: black;
    display: block;
    
}
nav .item ul li a p{
    padding-top: 5px;
    font-weight: 700;
    color: black;
    display: block;
  
}
nav .item ul li:last-child{
    margin-right: 0;
}

/* footer > .footer1 */
footer > * {
    text-align: center;
    margin: 0 auto;
}
footer .footer1 {
    margin-top: 50px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    font-size: 0.7em;
    
}
footer .footer1 a {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #a09b9b;
}
footer .footer1 a:first-child {
    border: none;
}
footer .footer1 .list8, 
footer .footer1 .list10 {
    font-weight: 700;
}

footer .footer1 div .globalsite {
    display: inline-block;
    width: 14px;
    height: 14px;
}

/* footer > .footer2 */
footer > .footer2 {
    width: 60%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0; 
    
}
footer .footer2  div {
    float: left;
    font-size: 0.6em; 
    text-align: left;
    line-height: 1.6;
    margin-right: 10px;
}   
footer .footer2 #box1 {
    width: 15%;
    height: 35px;
   
    background-repeat: no-repeat;
}
footer .footer2 #box2 {
    width: 20%;
    
}
footer .footer2 #box3 {
    width: 30%;
}
footer .footer2 #box3 a {
    display: block;
    font-size: 0.9em;
    padding: 0 5px;
}
footer .footer2 #box3 #a1 {
    font-weight: 700;
    display: inline;
    border-right: 1px solid #333232;
}
footer .footer2 #box3 #a2 {
    display: inline;
}
footer .footer2 #box3 #a3 {
    font-size: 2em;
    font-weight: 700;
}
footer .footer2 #box2 p a,  
footer .footer2 #box4 p a {
    text-decoration: underline;
}

footer .footer2 #box4 {
    width: 25%;
}
footer .footer2 #box4 span {
    font-size: 1.2em;
    font-weight: 700;
}

/* footer > .footer3 */
footer > .footer3 { 
    padding: 20px;

}

/* footer > .footer4 */

footer .footer4 {    
    background-color: #333232;
    padding: 20px 0;
    
}
footer .footer4 p {
    width: 60%;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: left;
}
footer .footer4 .link {
    position: relative;
    left: 300px;
}

footer .footer4 ul li a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
}
footer .footer4 ul li #face {
    background-image: url('../img/facebook.png');
}
footer .footer4 ul li #blog {
    background-image: url('../img/naver.png');
}
footer .footer4 ul li #insta {
    background-image: url('../img/insta.png');
}

footer .footer4 p {
    text-align: left;
    color: #a09b9b;
}



