@import url(common.css);

*{
    font-family: sans-serif;
}


/* 배너 시작 */
.banner-container{
    position: relative;
    background: gainsboro;
    height: 450px;
}
.banner{
    position: relative;
    margin: 0 auto;
    width: 1920px;
}

.banner .menu{
    position: absolute;
    top: 10%;
    right: 200px;
}
.banner .img{
    width: 1920px;
    
}

.banner .menu li:hover{
    border: 3px solid blue;
}
/* 배너 끝 */

/* 레이아웃 첫번째 시작 - 오늘의 발견 */
.today-find img{
    width: 98%; 
}

.go{
    position: absolute;
    background-image: url(../이미지/go.png);
    height: 40px;
    width: 40px;
    left: 20px;
    bottom: 20px;
}

.container{
    position : relative;
    margin: 0 auto;
    width: 1020px;
    height: 1036px;
    /* border: 1px solid #000; */
    /* background: green; */
}

.container h2{
    font-size: 1.5em;
    font-weight: 700;
    padding: 20px;
}
.container h2 span{
    font-weight: 400;
    font-size: 16px;
}
.container .today-find{
    border: 1px solid rgba(169, 169, 169, 0.5);
    width: 980px;
    height: 960px;
    margin: 0px 20px 10px;
    padding: 13px 9px;
    /* background-color: aquamarine; */
}
.container .today-find .today-find-box{
    position: relative;
    width: 228px;
    height: 299px;
    border: 1px solid rgba(169, 169, 169, 0.5);
    float: left;
    margin: 3px 5.5px;
    
}

.container .today-find .today-find-box:hover{
    border: 3px solid blue;
}
.container .today-find .today-find-box:hover .go{
    position: absolute;
    background-image: url(../이미지/buy.jpg);
    height: 40px;
    width: 100px;
    left: 20px;
    bottom: 20px;
}

.container .today-find .today-find-box:nth-child(-n+2), 
.container .today-find .today-find-box:nth-child(7){
    width: 468px;
    height: 299px;   
}
.container .today-find .today-find-box:nth-child(8),
.container .today-find .today-find-box:nth-child(9){
    height: 299px;
}

/* 레이아웃 첫번째 끝 - 오늘의 발견 */

/* 두번째 레이아웃 시작 - 오늘의 판매자 특가 */
.seller-container{
    position: relative;
    /* background: blueviolet; */
    /* border: 1px solid #000; */
    width: 980px;
    height: 340px;
    margin: 30px auto 0px;
}
.seller-container>h2{
    float: left;
    font-size: 1.5em;
    font-weight: 700;
}

.seller-container h2>strong{
    color: red;
}
.seller-container>span {
    font-size: 14px;
    line-height: 14px;
    float: right;
    
}
.seller-container>span strong{
    font-weight: 700;
}

.seller-container .seller-boxes{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 930px;
    height: 281px;
    /* border: 1px solid #000; */
    overflow: hidden;
    text-align: justify;
}
.seller-container .seller-boxes .seller-box{
    float: left;
    /* border: 1px solid #000; */
    width: 160px;
    height: 277px;
    font-size: 13px;
    margin-right: 15px;
    overflow: hidden;
}
.seller-container .seller-box>img{
    width: 160px;
}

.seller-container .seller-boxes .seller-box *:nth-child(n+2){
    margin: 8px;
}

.seller-container .seller-boxes .seller-box div:nth-child(2) span{
    font-weight: 700;
    color: red;
}
.seller-container .seller-boxes .seller-box div:nth-child(4){
    font-weight: 700;
    color: brown;
    font-size: 1.2em;
}
.seller-container .seller-boxes .seller-box div:nth-child(5){
    color: orange;
}

.seller-container .seller-boxes .seller-box div:nth-child(5) span:last-child{
    color: gray;
    font-size: 0.8em;
}

.seller-container .seller-boxes .seller-button{
    position: absolute;
    right: 15px;
    top: 45%;
}
.seller-container .seller-boxes .seller-button button{
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 700;
}


/* 두번째 레이아웃 끝 - 오늘의 판매자 특가 */

/* 사이드 배너 */

.side-container{
    position: absolute;
    right: -150px;
    top: 50px;
    width: 130px;
    /* border: 1px solid #000; */
}

.side-container .side-bar li{
    margin: 5px auto;
    width: 102px;
    height: 150px;
    border: 1px solid #000;
    overflow: hidden;
}

.side-container .side-cart{
    border: 2px solid #ccc;
    border-collapse: collapse;
    height: 520px;
    font-size: 14px;
    text-align: center;

}

.side-container .side-cart div:nth-child(-n+2){
    height: 30px;
    padding: 1px;
    background: rgba(18, 14, 69, 0.751);
    border-bottom: 1px solid #000;
    border-collapse: collapse;
    color: #fff;
    padding-top: 5px;
}
.side-container .side-cart div:last-child{
    position: relative;
    font-weight: 700;
    width: 80%;
    top: 40%;
    margin: 0 auto;
    color: #ccc;  

}
.side-container .side-cart div em{
    color: rgb(114, 114, 252);
}

/* 사이드 배너 끝 */



/* 카테고리별 추천 광고 상품 */
.category-container{
    width: 1116px;
    /* height: 10000px; */
    /* border: 1px solid #000; */
    margin: 30px auto 20px;
    padding: 10px;
}


.category-container h2{
    /* border: 1px solid #000; */
    margin-left: 50px;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}
.category-container h2>span{
    font-size: 1.2em;
}
.category-container h2>span>strong{
    color: darkblue;
}

.kitchen{
    border-top: 2px solid green !important;
    color: green;
}

.woman{
    border-top: 2px solid pink !important;
    color: pink;
}
.man{
    border-top: 2px solid blue !important;
    color: blue;
}

.category-container .category-best{
    margin-left: 50px;
    width: 1020px;
    height: 601px;
    border-bottom: 2px solid #ccc;
    display: flex;
    margin-bottom: 30px;
}


.category-container .category-best .category-keyword{
    flex: 1.5;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
}
.category-container .category-best .category-img{
    flex: 3;
    /* border: 1px solid #000; */
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: url(../이미지/category-01.jpg);
    position: relative;
    overflow: hidden;
}
.category-container .category-best.woman .category-img{
    background:url(https://thumbnail10.coupangcdn.com/thumbnails/remote/x/image/bannerunit/bannerunit_a86464cc-1756-4fc8-b0ed-b3e8b3636085.jpg);
}
.category-container .category-best.man .category-img{
    background:url(https://thumbnail6.coupangcdn.com/thumbnails/remote/x/image/bannerunit/bannerunit_4b54b6ae-211f-491a-ad20-600f0b5e9683.jpg);
}
.category-container .category-best .category-boxes{
    flex: 5;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    /* border: 1px solid #000; */
}
.category-container .category-best .category-keyword .category-title{
    margin: 50px 20px;
}

.category-container .category-best .category-keyword .category-title h3{
    font-weight: 700;
    font-size: 1.5em;
}
.category-container .category-best .category-keyword .category-title a{
    font-size: 14px;
    font-weight: 700;
    color: #ccc;
}
.category-container .category-best .category-keyword .category-hotkeyword{
    margin: 50px 20px 10px; 
}
.category-container .category-best .category-keyword .category-hotkeyword h3{
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
.category-container .category-best .category-keyword .category-hotkeyword li{
    margin-bottom: 8px;
}
.category-container .category-best .category-keyword .category-hotkeyword li a{
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 5px;
}

.category-container .category-best .category-img>a {
    position: absolute;
    color: white;
    background-color: rgba(0, 128, 0, 0.7);
    width: 80%;
    padding: 20px;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0);
    line-height: 1.5;
    text-align: center;
}
.category-container .category-best.woman .category-img>a {
    background-color: rgba(255, 192, 203, 0.726);
}
.category-container .category-best.man .category-img>a {
    background-color: rgba(0, 0, 255, 0.692);
}

.category-container .category-best .category-img>a .text{
    font-size: 14px;
}

.category-container .category-best .category-img ul{
    display: flex;
    position: absolute;
    left: 30%;
    bottom: 10px;
    color: rgba(128, 128, 128, 0.767);
}
.category-container .category-best .category-img ul li:first-child{
    font-weight: 700;
    color: black;
}

.category-container .category-best .category-boxes ul{
    display: flex;
    position: absolute;
    left: 35%;
    bottom: 10px;
    color: rgba(128, 128, 128, 0.767);
}

.category-container .category-best .category-boxes ul li:first-child{
    font-weight: 700;
    color: black;
}

.category-container .category-best .category-boxes .category-box{
    width: 33%;
    height: 50%;
    /* border: 1px solid #000; */
    padding: 10px;
    color: black;

}
.category-container .category-best .category-boxes .category-box:nth-child(-n+3){
    border-bottom: 1px solid #ccc;
}
.category-container .category-best .category-boxes .category-box a{
    line-height: 1.5;
} 

.category-container .category-best .category-boxes .category-box:hover a p{
    color: blue;
    text-decoration: underline;
}
.category-container .category-best .category-boxes .category-box .category-box-img{
    /* border: 1px solid #000; */
    height: 160px;  
    margin-bottom: 20px;
}

.category-container .category-best .category-boxes .category-box .category-box-img:nth-child(1){
    background: url(../이미지/category-01-01.jpg) ;
}
.category-container .category-best.woman .category-boxes .category-box .category-box-img:nth-child(1){
    background: url(https://thumbnail8.coupangcdn.com/thumbnails/remote/160x160ex/image/vendor_inventory/d281/fd8c28e3f4cbaa34e52705e3061b9a4ce1cbcebff51cb829386243e06845.jpg) ;
}
.category-container .category-best.man .category-boxes .category-box .category-box-img:nth-child(1){
    background: url(https://thumbnail10.coupangcdn.com/thumbnails/remote/160x160ex/image/vendor_inventory/cba2/68ed2c14d8da699ab7cb4cbe7024ce2053ad17ebfdc5965a426067df6b51.png) ;
}

.category-container .category-best .category-boxes .category-box p{
    font-size: 14px;
}
.category-container .category-best .category-boxes .category-box h3{
    font-weight: 700;

}



/* 카테고리별 추천 광고 상품 끝 */


/* TOP button */
.top-button{
    position: fixed;
    right: 10%;
    bottom: 10%;
    width: 50px;
    height: 50px;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
    color: #fff;
    opacity: 0.7;
}
/* TOP button 끝 */

/* left-container  */
.left-container{
    position: fixed;
    left: 5%;
    top: 10%;
    color: black;
    /* border: 1px solid #000; */
}

.left-container ul{
    position: relative;
    border: 1px solid #000;
}

.left-container ul li{
    position: relative;
    height: 25px;
    text-align: center;
}

.left-container li a{
    position: relative;
    width: 50px;
    display: block;
    /* border: 1px solid #000; */
}
.left-container li a+a{
    position: absolute;
    left: 50px;
    bottom: 7px;
    /* background-color: blue; */
    display: none;
}

.left-container li:nth-child(4n):hover a{
    color: white;
    background: orange;
}
.left-container li:nth-child(4n+1):hover a{
    color: white;
    background: green;
}
.left-container li:nth-child(4n+2):hover a{
    color: white;
    background: pink;
}
.left-container li:nth-child(4n+3):hover a{
    color: white;
    background: blue;
}

.left-container li:hover a:last-child{
    color: white;
    width: max-content;
    display: block;
}





footer > * {
    text-align: center;
    margin: 0 auto; 
    
}
/* footer > .footer1 */
footer .footer1 {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
    font-size: 0.7em;

}
footer .footer1 a {
    display: inline-block;
    padding: 0 10px;
    border-left: 1px solid #a09b9b;
}
footer .footer1 a:first-child {
    border: none;
}
footer .footer1 .list8, 
footer .footer1 .list10 {
    font-weight: 700;
}

footer .footer1 div .globalsite {
    display: inline-block;
    width: 14px;
    height: 14px;
}

/* footer > .footer2 */

footer > .footer2 {
    width: 60%;
    border-bottom: 1px solid #ccc;
    padding: 20px 0; 
    

}
footer .footer2  div {
    float: left;
    font-size: 0.6em; 
    text-align: left;
    line-height: 1.6;
    margin-right: 10px;
}   
footer .footer2 #box1 {
    width: 15%;
    height: 35px;
   
    background-repeat: no-repeat;
}
footer .footer2 #box2 {
    width: 20%;
    
}
footer .footer2 #box3 {
    width: 30%;
}
footer .footer2 #box3 a {
    display: block;
    font-size: 0.9em;
    padding: 0 5px;
}
footer .footer2 #box3 #a1 {
    font-weight: 700;
    display: inline;
    border-right: 1px solid #333232;
}
footer .footer2 #box3 #a2 {
    display: inline;
}
footer .footer2 #box3 #a3 {
    font-size: 2em;
    font-weight: 700;
}
footer .footer2 #box2 p a,  
footer .footer2 #box4 p a {
    text-decoration: underline;
}

footer .footer2 #box4 {
    width: 25%;
}
footer .footer2 #box4 span {
    font-size: 1.2em;
    font-weight: 700;
}

/* footer > .footer3 */
footer > .footer3 { 
    padding: 20px;

}



/* footer > .footer4 */

footer .footer4 {    
    background-color: #333232;
    padding: 20px 0;
    
}
footer .footer4 p {
    width: 60%;
    margin: 0 auto;
    font-size: 0.7em;
    text-align: left;
}
footer .footer4 .link {
    position: relative;
    left: 300px;



}

footer .footer4 ul li a {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    
    

}


footer .footer4 ul li #face {
    background-image: url('../../img/facebook.png');
    
}
footer .footer4 ul li #blog {
    background-image: url('../../img/naver.png');
}
footer .footer4 ul li #insta {
    background-image: url('../../img/insta.png');
}


footer .footer4 p {
    text-align: left;
    color: #a09b9b;
}


